<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contenu de la page</title>
    </head>

    <body>

        <article id="portfolio">
            <h2>Mon Portfolio</h2>
            <p>Découvrez mes travaux</p>
            <img src="http://lorempixel.com/400/400" alt="Mon projet">
        </article>

        <article id="contacts">
            <h2>Contactez moi</h2>

            <form action="#">
                <input type="email" placeholder="Votre adresse email">
                <textarea placeholder="Votre Message"></textarea>
                <input type="submit" value="Envoyer">                
            </form>

            <aside></aside>
            
            <p>Adresse : 4 rue de la Prévoyance 94300 Vincennes</p>
        </article>
        
    </body>
</html>