@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Roboto');
/* 
Style Reset
*/

    *{
        margin:0;
        padding: 0;

        -webkit-box-sizing: border-box;        
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: "Roboto", serif;
        font-size: 1.5rem;
        font-weight: 400;
    }

    h1,h2 li:first-child{
        font-family: "Quicksand",sans-serif;
        font-weight: 700;
    }

    h1{
        font-size: 2.5rem;
        line-height: 1em;
        margin-bottom: 2rem;
        color: #0b0b2d;
    }

    h2{
        color: white;
        margin-bottom: 1.5rem;
    }

    h2 span{
        padding: 1rem 1.5rem;
        background-color: #0b0b2d;
        display: block;
    }

    a{
        text-decoration: none;
        color: white;
    }

    img{
        max-width: 100%;
    }

    li{
        display: inline-block;
        margin-right: 1rem;
    }

    p{
        margin-bottom: 1rem;
    }

/*
Style header
*/

    header{
        color: white;
        padding: 2rem;
        background-image:url(../img/back.jpg);
        background-size: cover;
    }

    li:first-child{
        font-size: 2rem;
        display: block;
        margin-bottom: 1rem;
    }

/*
Style Main
*/
    main{
        padding: 2rem;
    }

    section{
        margin-bottom: 5rem;
        clear: both;
    }

    /*  Sélectionner la balise img qui suit directement la balise h1*/
    h1+img{
        width:10rem;
        float: left;
        margin-right: 1.5rem;

       -webkit-border-radius: 50%;        
        border-radius: 50%;
    }

    figure{
        position: relative;
        margin-bottom: 1rem;
    }

    figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgba(255, 255, 255, .7);
    }

    textarea, input:not([type="submit"]){
        display: block;
        width:100%;
        border:none;
        background:#eee;
        padding: 1rem 1.5rem;
        margin-bottom:1rem;
    }

    [type="submit"]{
        border: none;
        background: #0b0b2d;
        padding: 1rem 1.5rem;
        color: white;
        margin-bottom: 2rem;
    }
    
    textarea{
        min-height: 20rem;
    }

    iframe{
        border: none;
        width: 100%;
        min-height: 30rem;
    }

/*
Style Footer
*/
    footer{
        color: white;
        background: #0b0b2d;
        padding: 2rem;
    }
/*
Requête média
Ecran d'une taille minimale de 850px
*/

    @media screen and (min-width:850px){

        body{
            font-size: 2rem;
        }

        main,ul{
            max-width: 85rem;
            margin: auto;
        }

        main{
            padding: 2rem 0;
        }

        h2 span{
            display: inline-block;
        }

        li:first-child{
            display: inline-block;
            position: absolute;
        }

        nav ul{
            text-align: right;
            position: relative;
        }

        nav li:first-child{
            left: 0;
            top: -.8rem;
            bottom:0;
        }

        section:nth-child(2) p, form, iframe{
            display: inline-block;
            vertical-align: top;
            width: 49%;
            margin-right:.5rem;
        }

        section:last-child p{
            margin-bottom:1rem;
        }

        figure{
            display: inline-block;
            width: 23%;
            margin-right:.5rem;
        }

        footer ul{
            position:relative;
        }

        footer li:first-child{
            right: 0;
        }
    }

    
