<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page A Propos</title>
    </head>

    <body>
        <h2>A Propos</h2>
        <img src="img/profil.jpg" alt="Photo de profil Nour Rakotoson">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quo dicta quod eveniet, ipsam deleniti perspiciatis sunt! Ratione inventore minima neque, ipsa sequi autem qui est magnam debitis facere magni.</p>

        <h3>Mes compétences</h3>
        <ul>
            <li>
                <p><span> HTML: 80%</span></p>
            </li>
            <li>
                <p><span> CSS: 50%</span></p>
            </li>
             <li>
                <p><span> JavaScript: 30%</span></p>
            </li>
        </ul>

        <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>
    </body>
</html>