@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,600'); 
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*
Style Reset
*/

    *{
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;        
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        font-size: 1.5rem; /* => 15px */
        text-align: center;
    }

    h1,h2,h3{
        font-family: 'Arvo', serif;
        font-weight: 400;
    }

/*
Style header
*/
    header, footer{
        color: white;
        background-color: rgba(76, 229, 213, .8);
        padding: 2rem;
        margin-bottom: 4rem;
        position: relative;
    }

    .fa-bars{
        font-size: 2rem;
        padding-top: .6rem;
        position: absolute;
        background-color: rgba(76, 229, 213, .8);
        border: .3rem solid white;
        width: 4rem;
        height: 4rem;    
        left: 50%;
        bottom: 0;
        cursor: pointer;

        -webkit-transform: translate(-50%,100%);
        transform: translate(-50%,100%);

        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    h1 span{
        font-family:'Open sans', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        display: block;
        margin-bottom: 1rem;
    }

    nav ul{
        height: 0;
        overflow: hidden;
        list-style: none;

        -webkit-transition: all .8s;        
        transition: all .8s;
    }

    .toggleBurger{
        height: 15rem;
    }

    nav a{
        font-weight: 400;
        color: white;
        text-decoration: none;
        -webkit-transition: all .7s;
        transition: all .7s;
    }

    nav li{
        background: rgba(255, 255, 255, .5);
        padding: 1rem;
        margin-bottom: .5rem;

        -webkit-transition: all .7s;
        transition: all .7s;
    }

    .active{
        background:rgba(11, 113, 106, .4);;
    }

    .active a{
        color:rgba(255, 255, 255);
    }
/*
Style main
*/
    h2{
        color: rgba(76, 229, 213, .5);
        
    }

    h2:after{
        content: '';
        display: block;
        width: 5rem;
        height: .2rem;
        margin: 1rem auto 2rem auto;
        border-bottom: .2rem solid black;
    }

    h3{
        margin-bottom: 1rem;
    }

    main, h1, nav{
        max-width: 85rem;
        margin: auto;
        position: relative;
    }

/*
Style footer
*/
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
    }

/*
Requête media
*/

@media screen and (min-width:850px){

    /* Style header */
    header{
        text-align: left;
    }

    .fa-bars{
        display: none;
    }

    nav ul{
        height: auto;
        position: absolute;
        right: 0;
        bottom:0;
    }
     
    nav li{
        display: inline-block;
    }

    nav li:not(:last-child){
        margin-right: .5rem;
    }
}