<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page d'Accueil</title>
    </head>

    <body>

        <h2>Bienvenue sur mon site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis necessitatibus, eius. Ea et perferendis unde eius praesentium blanditiis id ad voluptatem sint perspiciatis, cum similique sequi dolorem voluptas vero.</p>
        
    </body>
    
</html>